<div class="flex justify-center ">
  <div class=" w-4/6 m-20 h-max">
    <div
      class="bg-gradient-to-r p-14 h-5/6 from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90% rounded-lg">
      <div class="flex justify-center pt-4 font-bold text-4xl">Body Mass Index (BMI) Calculator</div>
      <div class="flex justify-evenly mt-24">
        <form class="flex flex-col" [formGroup]="bmiCalculatorGroup">
          <mat-form-field appearance="outline" class="inputBox">
            <input matInput placeholder="weight" formControlName="weight">
            <div matSuffix class="m-4">Kg</div>
          </mat-form-field>

          <mat-form-field appearance="outline" class="inputBox">
            <input matInput placeholder="height" formControlName="height">
            <div matSuffix class="m-4">Cm</div>
          </mat-form-field>

          <button mat-raised-button color="accent" class="inputBox" (click)="calculateBMI()">Calculate</button>

        </form>
        <div *ngIf="calculatedBMI">
          <div>Your BMI : <span class="font-extrabold  text-white">{{calculatedBMI}} Kg/m2</span></div>
          <br>
          <div>
            <div class="font-medium text-base underline pb-4">BMI Categories:</div>
            <div class="text-red-500 font-extrabold p-1"> Underweight = 18.5 or lesser </div>
            <div class="text-green-700 font-extrabold p-1">Normal weight = 18.5–24.9</div>
            <div class="text-yellow-400 font-extrabold p-1">Overweight = 25–29.9</div>
            <div class="text-red-500 font-extrabold p-1"> Obesity = BMI of 30 or greater</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>